body {
  background-color: #222;
  color: #fff;
  font-family: 'DotGothic16', sans-serif;
  font-weight: 700;
}
.container {
  margin: auto;
  width: 50%;
  
}
h1 {
  margin-left: 13%;
  display: block;
  position: relative;
  font-size: 100px;
  background: linear-gradient(to bottom, #00f2ff 0%, #e2fbff 50%, #0a343f 51%, #0094f7 100%);
  background-blend-mode: multiply;
  background-size: 10px 100px;
  background-repeat: repeat;
  line-height: 1;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
h1::before {
  background: none;
  content: attr(data-text);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  background-image: url('https://i.imgur.com/Ym9HCsT.gif');
  background-blend-mode: screen;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0.5;
}
h1::after {
  background: none;
  content: attr(data-text);
  position: absolute;
  left: 0;
  top: 0;
  text-shadow: 1px -1px 0 rgba(255, 255, 255, 0.5), 3px 1px 3px rgba(255, 0, 255, 0.85), -3px -2px 3px rgba(0, 0, 255, 0.85), 1px -2px 0 rgba(255, 255, 255, 0.8);
  z-index: -2;
}

#board{
  margin: auto;
  width: 800px;
  height: 400px;
  border: 1px solid;
  color: rgb(167, 105, 209);
}

#instructions{
  margin: 2%;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width:120px;

}

#reset{
  width:100px;
  align-items: center;
  font-family: 'DotGothic16', sans-serif;
  background: #7c7c7c;
	 border-bottom: 6px inset rgba(0, 0, 0, .5);
	 border-left: 6px inset rgba(0, 0, 0, .5);
	 border-right: 6px inset rgba(255, 255, 255, .5);
	 border-top: 6px inset rgba(255, 255, 255, .5);
	 box-sizing: border-box;
	 color:cyan;
	 cursor: pointer;
	 display: inline-block;
	 font-size: 2.2rem;
	 margin: 1rem;
	 min-width: 200px;
	 padding: 0.5rem;
	 text-transform: uppercase;
	 width: auto;
}
 #reset:focus, .btn:hover {
	 background: #153cb4;
}
 #reset{
	 background: #94167F;
}
 #reset:hover {
	 background: #E93479;
}
  

#resetDiv{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

#score{
  margin:auto;
  width: 100px;
  height: 50px;
  text-align: center;
  color: teal;
}

#footer{
  text-align:center;
  margin:auto;
  position: bottom;
  left: 0;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #222;
  background-color:  #222;
  
}
#footer img{
  margin:5px;
  height: 5%;
  width:5%;
 padding: 5px 5px 5px 5px;
 
}